@import "resetcss";

$height-header: 70px;
html {
    font-family: 'Kanit', sans-serif;
    background-color: rgb(87, 87, 87);
}

.bg {
    position: relative;;
    .bg-image{
        width: 100%;
        height: 900px;
        background-color: black;
        position: absolute;
        z-index: -1;
        overflow: hidden;
    
        video {
            width: 100%;
            height: 100%;
            opacity: 70%;
            object-fit: cover;

        }
        
    }

    .bg-color {
        position: absolute;
        z-index: 0;
        top: 580px;
        width: 100%;
        height: 20rem;
        background-image: linear-gradient(180deg,transparent, rgba(37,37,37,0.05),rgb(87, 87, 87));
        
        
    }
}

header{
    width: 100%;
    height: 100%;
    height: $height-header;
    background-color: rgb(24, 23, 23);
}

.header-container {
    width: 95%;
    height: $height-header;
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 10px;
    margin: auto;
}

.header-left {
    display: flex;
    height: $height-header;
    align-items: center;
    text-align: center;

    img {
        width: 6em;
        margin: 1.2em 1em 1em 1em;
    }
    ul {
        display: flex;

        li {
            margin: 0 0.5em;
            color: rgb(255, 255, 255);
        }
    }
}

.header-right {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: end;
    img {
        width: 25px;
        margin-right: 1em;
    }
    
    .profile {
        display: flex;
        align-items: center;

        .profile-img {
            border-radius: 5px;
            margin-right: 0.4em;
        }
        .profile-downbutton {
            width: 20px;
            height: 20px;
        }
    }
}

/////// info 

.box-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20rem;
    margin-top: 25rem;
    box-sizing:border-box;
    padding-left: 5%;
    }

.box-info-left {
    width: 500px;
    padding: 1rem;
    h1:nth-child(1) {
        color: white;
        font-size: 3rem;
        text-align: center;
        text-shadow: 0px 0px 20px black;
    }
    p {
        display: block;
        color: white;
        font-size: 1.3rem;
        margin-top: 0.7rem;
        text-shadow: 0px 0px 20px black;
    }
}

.box-info-left-play {
    display: flex;
    gap: 2rem;
    
    a{
        text-decoration: none;
    }
    .play {
        display: flex;
        align-items: center;
        justify-content:center;
        margin-top: 1.2rem;
        background-color: rgb(230, 230, 230);
        border-radius: 10px;
        padding: 0.3rem 1rem;
        box-shadow: 0px 0px 2px black;

        img {
            width: 40px;
            margin-right: 0.5rem;
        }

        h1{
        font-size: 2rem;
        color: black;
            
        }

        
    }

    .about {
        display: flex;
        align-items: center;
        justify-content:center;
        margin-top: 1.2rem;
        background-color: rgb(230, 230, 230);
        border-radius: 10px;
        padding: 0.3rem 1rem;
        box-shadow: 0px 0px 2px black;

        img {
            width: 60px;
        }

        h1{
            font-size: 2rem;
            color: black;
            
        }
    }
}
//////////////// Menu Movie ////////////
.menu-movie {
    //background-color: white;
    width: 100%;
    height: 1000px;
    //opacity: 40%;

    .menu-movie-row {
        position: relative;
        width: 100%;
        height: auto;
        transition: 0.4s;
        box-sizing: border-box;
        //background-color: aquamarine;
        overflow: hidden;
        
        

        h1 {
            position: relative;
            z-index: 3;
            display: block;
            font-size: 2rem;
            color: white;
            text-shadow:0px 0px 10px black;
            padding-left: 6%;
            margin-top: 1rem;
        }

        #row-movie {
            width: 90%;
            height: 17rem;
            display: grid;
            grid-template-columns: repeat(5,1fr ) ;
            //column-gap: 5px;
            margin:0 auto;
            
            padding: 0 15px;
            //background-color: red;
            //justify-content:center;

            
            #movie {
                img {
        
                    width: 300px;
                    height: 12.5rem;
                    border-radius: 20px;
                    box-shadow: 0 0 10px black;
                }
            }
        }
    }
}

#movie {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    transition: 0.8s;
    //background-color: red;
    

    h1 {
        position: absolute;
        margin-top: 20rem;
        z-index: -2;
        transition: 0.3s;
    }
}

#movie:hover {
    bottom:20px;
    left: -15px;
    padding: 10px 10px;
    z-index: 2;
    width: 110%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid white;
    background-color: rgb(59, 59, 59);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
 
    h1 {
        position: relative;
        display:flex;
        justify-content: center;
        left: -0.7rem;
        margin-top: 1rem;
        vertical-align:middle;
        font-size: 120%;
    }
}